<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kumoh.cosmoa.mapper.CourseMapper">
    <select id="getCourseList" resultType="com.kumoh.cosmoa.dto.CourseDTO">
        SELECT  ID,
                NAME,
                DESCRIPTION,
                CREATED_DATE,
                MODIFIED_DATE,
                USER_ID
        FROM COURSE
    </select>
    <!-- 코스생성 -->
    <insert id="createCourse" parameterType="com.kumoh.cosmoa.dto.CourseDTO" useGeneratedKeys="true"
    keyProperty="id">
    	INSERT INTO COURSE(
     					ID,
               			NAME,
                		DESCRIPTION,
                		CREATED_DATE,
                		MODIFIED_DATE,
                		USER_ID)
     	VALUES(#{id}, #{name}, #{description}, #{created_date}, #{modified_date}, #{user_id})
    </insert>
    
    <!-- 코스삭제 -->
    <delete id="deleteCourse" parameterType="int">
    	DELETE FROM COURSE WHERE ID = #{id}
    </delete>
    
    <!-- 코스수정 -->
    <update id="updateCourse" parameterType="com.kumoh.cosmoa.dto.CourseDTO">
    	UPDATE COURSE SET ID = #{id},
    					NAME = #{name},
    					DESCRIPTION = #{description},
    					CREATED_DATE = #{created_date},
    					MODIFIED_DATE = #{modified_date}
    				WHERE ID = #{id}
    </update>
    
</mapper>