<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kumoh.cosmoa.mapper.CourseReplyMapper">
    <select id="getCourseReplyList" resultType="com.kumoh.cosmoa.dto.CourseReplyDTO">
        SELECT  ID,
                USER_ID,
                COURSE_ID,
                COMMENT,
                CREATED_DATE,
                MODIFIED_DATE
        FROM COURSE_REPLY
    </select>

    <select id="getCourseReplyListByCourseId" resultType="com.kumoh.cosmoa.dto.response.CourseReplyResponseDTO">
		SELECT	U.NICKNAME,
		 		U.ID AS USER_ID,
		 		CR.COMMENT,
		 		CR.CREATED_DATE,
		 		CR.MODIFIED_DATE,
		 		CR.ID AS COURSE_REPLY_ID
		FROM USER U, COURSE_REPLY CR
		WHERE CR.COURSE_ID = #{courseId}  AND CR.USER_ID = U.ID
    </select>
    
    <!-- 코스댓글생성 -->
    <insert id="createCourseReply" useGeneratedKeys="true"
    keyProperty="id">
    	INSERT INTO COURSE_REPLY(
                		USER_ID,
                		COURSE_ID,
                		comment,
                		CREATED_DATE,
                		MODIFIED_DATE)
     	VALUES(#{param.userId}, #{param.courseId}, #{param.comment}, NOW(), NOW())
    </insert>
    
    <!-- 코스댓글삭제 -->
    <delete id="deleteCourseReply" parameterType="int">
    	DELETE FROM COURSE_REPLY WHERE ID = #{id}
    </delete>
    
    <!-- 코스댓글수정 -->
    <update id="updateCourseReply" parameterType="com.kumoh.cosmoa.dto.CourseReplyDTO">
    	UPDATE COURSE_REPLY SET ID = #{param.id},
    					USER_ID = #{param.userId},
    					COURSE_ID = #{param.courseId},
    					COMMENT = #{param.comment},
    					MODIFIED_DATE = NOW()
    				WHERE ID = #{param.id}
    </update>
    
</mapper>