<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kumoh.cosmoa.mapper.CourseReplyMapper">
    <select id="getCourseReplyList" resultType="com.kumoh.cosmoa.dto.CourseReplyDTO">
        SELECT  ID,
                USER_ID,
                COURSE_ID,
                COMMENT,
                CREATED_DATE,
                MODIFIED_DATE
        FROM COURSE_REPLY
    </select>
    <!-- 코스댓글생성 -->
    <insert id="createCourseReply" parameterType="com.kumoh.cosmoa.dto.CourseReplyDTO" useGeneratedKeys="true"
    keyProperty="id">
    	INSERT INTO COURSE_REPLY(
     					ID,
                		USER_ID,
                		COURSE_ID,
                		COMMENT,
                		CREATED_DATE,
                		MODIFIED_DATE)
     	VALUES(#{id}, #{user_id}, #{course_id}, #{comment}, NOW(), NOW())
    </insert>
    
    <!-- 코스댓글삭제 -->
    <delete id="deleteCourseReply" parameterType="int">
    	DELETE FROM COURSE_REPLY WHERE ID = #{id}
    </delete>
    
    <!-- 코스댓글수정 -->
    <update id="updateCourseReply" parameterType="com.kumoh.cosmoa.dto.CourseReplyDTO">
    	UPDATE COURSE SET ID = #{id},
    					USER_ID = #{user_id},
    					COURSE_ID = #{course_id},
    					COMMENT = #{comment},
    					MODIFIED_DATE = NOW()
    				WHERE ID = #{id}
    </update>
    
</mapper>